[Desktop Entry]
Name[bs]=Aravis
Name[ca]=Aravis
Name[cs]=Aravis
Name[da]=Aravis
Name[de]=Aravis
Name[el]=Aravis
Name[es]=Aravis
Name[eu]=Aravis
Name[fi]=Aravis
Name[fr]=Aravis
Name[hu]=Aravis
Name[id]=Aravis
Name[lv]=Aravis
Name[oc]=Aravis
Name[pl]=Aravis
Name[pt]=Aravis
Name[pt_BR]=Aravis
Name[ru]=Aravis
Name[sl]=Aravis
Name[sr]=Аравис
Name[sr@latin]=Aravis
Name[sv]=Aravis
Name[tr]=Aravis
Name[zh_CN]=Aravis
Name=Aravis
X-GNOME-FullName=Aravis Simple Viewer
Comment[bs]=Prikaži video tok iz kamera
Comment[ca]=Visualitzeu el flux de vídeo de les vostres càmeres
Comment[cs]=Zobrazit video stream z vašich kamer
Comment[da]=Vis videostrømmen fra dine kameraer
Comment[de]=Den Videostrom von Ihren Kameras anzeigen
Comment[el]=Εμφανίστε τα βίντεο από τις κάμερές σας
Comment[es]=Mostrar el flujo de vídeo de sus cámaras
Comment[eu]=Bistaratu bideo-korronteak kameretatik
Comment[fi]=Katsele videovirtaa kameroista
Comment[fr]=Affiche le flux vidéo de caméras Genicam
Comment[hu]=A videofolyam megjelenítése a kamerákról
Comment[id]=Menampilkan stream video dari kamera Anda
Comment[lv]=Rāda video straumes no jūsu kamerām
Comment[oc]=Aficha lo flux vidèo de camèras Genicam
Comment[pl]=Wyświetlanie strumienia wideo z kamery
Comment[pt]=Mostrar o fluxo de vídeo das suas câmaras
Comment[pt_BR]=Exiba o fluxo de vídeo de suas câmeras
Comment[ru]=Показать видеопоток с ваших камер
Comment[sl]=Prikazovanje pretoka videa preko kamere
Comment[sr]=Прикажите видео ток са ваше камере
Comment[sr@latin]=Prikažite video tok sa vašeg foto-aparata
Comment[sv]=Visa upp videoströmmen från dina kameror
Comment[tr]=Kameralarınızdan gelen video akışını görüntüleyin
Comment[zh_CN]=显示摄像头视频流
Comment=Display the video stream from your cameras
Exec=arv-viewer-0.8
Terminal=false
Type=Application
StartupNotify=false
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=aravis-0.8
Categories=GNOME;AudioVideo;Video;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=gigevision;usb3vision;vision;display;viewer;
